@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>CINAP: CONTROL DE INVENTARIO</h1>
    <p class="lead">APLICACION EN PROCESO PARA EL MANEJO DE LOS LABORATORIOS DE CETYS UNIVERSIDAD</p>
   
</div>

<div class="row">
 
</div>